main {
	width: 100%;
	display: flex;
	height: calc(94vh - 64px);
}

main textarea,
main div {
	width: 50%;
	padding: 2px;
	min-height: 50vh;
	background-color: inherit;
	color: inherit;
	overflow: visible;
}

main textarea {
	resize: none;
	line-height: 1.5;
	border: none;
	font-family: Georgia, Cambria, serif;
	padding-left: 8px;
}

main textarea:focus {
	outline: none;
}

main div {
	border-left: 1px solid #cccccc;
	padding-left: 8px;
	word-wrap: break-word;
	font-size: 16px;
	overflow: auto;
}

blockquote {
	background-color: #cccccc44;
	border-left: 4px solid #aaaaaa;
	padding: 6px !important;
}

blockquote > blockquote {
	padding: 6px !important;
	padding-left: 4px !important;
}

code {
	background-color: rgba(175, 184, 193, 0.2);
	padding: 2px;
	border-radius: 6px;
	text-align: center;
}

#root > div {
	display: flex;
	justify-content: right;
	align-items: center;
	height: 6vh;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	padding: 4px 8px;
}

@media (max-width: 575.98px) {
	main {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	main textarea,
	main div {
		width: 100%;
	}
}

@media (max-width: 767.98px) {
	main {
		width: 100%;
	}
}

@media (max-width: 1199.98px) {
	nav div {
		width: 45%;
	}
}
