main {
	width: 100%;
	display: flex;
	height: calc(94vh - 64px);
}

main > div {
	width: 50%;
	min-height: 50vh;
	background-color: inherit;
	color: inherit;
	overflow: visible;
}

#lineCounter {
	padding-top: 2px;
	width: 5%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: inherit;
	color: inherit;
	filter: brightness(1.1);
	overflow: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

#lineCounter::-webkit-scrollbar {
	display: none;
}

#lineCounter.light {
	filter: brightness(0.9);
	min-height: 100%;
}

#lineCounter span {
	height: 24px;
	min-height: 24px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-feature-settings: "tnum" on, "lnum" on;
	box-sizing: border-box;
}

main textarea {
	width: 95%;
	height: 100%;
	resize: none;
	line-height: 1.5;
	border: none;
	font-family: Arial;
	padding-left: 8px;
	background-color: transparent;
	color: inherit;
	box-sizing: border-box;
	position: relative;
	z-index: 10;
}

main textarea:focus {
	outline: none;
}

main > #render {
	border-left: 1px solid #cccccc;
	padding-left: 8px;
	word-wrap: break-word;
	font-size: 16px;
	overflow: auto;
}

#render a {
	color: dodgerblue;
}

#render a:visited {
	color: dodgerblue;
}

main > #editor {
	position: relative;
	display: flex;
	justify-content: center;
	overflow: hidden;
}

#lineMarker {
	position: absolute;
	left: 0;
	background-color: dodgerblue;
	opacity: 0.33;
	height: 24px;
	width: 100%;
}

blockquote {
	background-color: #cccccc44;
	border-left: 4px solid #aaaaaa;
	padding: 6px !important;
}

blockquote > blockquote {
	padding: 6px !important;
	padding-left: 4px !important;
}

code {
	background-color: rgba(175, 184, 193, 0.2);
	padding: 2px;
	border-radius: 4px;
	text-align: center;
}

#root > div {
	display: flex;
	justify-content: right;
	align-items: center;
	height: 6vh;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	padding: 4px 8px;
}

@media (max-width: 575.98px) {
	main {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	main textarea,
	main div {
		width: 100%;
	}
}

@media (max-width: 767.98px) {
	main {
		width: 100%;
	}
}

@media (max-width: 1199.98px) {
	nav div {
		width: 45%;
	}
}
