@import-normalize;
@font-face {
	font-family: Raleway;
	src: url("../fonts/Raleway-Regular.ttf");
	font-display: swap;
}

@font-face {
	font-family: Raleway-Medium;
	src: url("../fonts/Raleway-Medium.ttf");
	font-display: swap;
}

@font-face {
	font-family: Raleway-Light;
	src: url("../fonts/Raleway-Light.ttf");
	font-display: swap;
}

:root {
	--primary: #3d6af2;
	--dark: #21262b;
	--light: #fff;
}

.dark {
	color: var(--light) !important;
	background-color: var(--dark);
}

.light {
	color: var(--dark);
	background-color: var(--light);
}

.dark,
.light {
	transition: 0.3s ease-in-out;
	transition-property: color, background-color;
}

body {
	margin: 0;
	font-family: -apple-system, "Raleway";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
}

body,
#root {
	width: 100vw;
	min-height: 100vh;
	background-color: var(--light);
	color: var(--dark);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
