aside {
	width: 15%;
	min-height: 50vh;
	float: left;
	text-align: center;
	border-collapse: collapse;
}

.snippet {
	border-top: 1px solid #ccc;
	cursor: pointer;
	width: 100%;
	padding: 8px 0px 8px 0px;
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	word-wrap: break-word;
}

.snippet:last-child {
	border-bottom: 1px solid #ccc;
}

.snippet:hover {
	background-color: #111236;
}

@media (max-width: 767.98px) {
	#cheatsheet {
		display: none;
	}
}
@media (max-width: 1199.98px) {
	#cheatsheet h1 {
		font-size: 1.25rem;
	}
}
